@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', 'sans-serif';
    box-sizing: border-box;
}

body {
    background: linear-gradient(45deg, rgb(0, 171, 228), rgb(80, 0, 178));
    background-attachment: fixed;
}

body, html {
    height: 100%;
}

.main-block {
    width: 90%;
    margin: 0 auto;
    background-color: rgb(224, 232, 239);
    min-height: 100vh;
    min-height: 100vh;
    position: relative;
}

.header {
    position: relative;
    width: 100%;
    padding: 10px 80px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.logo {
    text-decoration: none;
    font-weight: 1000;
    color: black;
    font-size: 24px;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    position: relative;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 20px;
    color: black;
}

.log-out-button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin-left: 20px;
    border-radius: 25px;
    background: rgb(219, 0, 0);
}
