{% extends 'system.html' %}

{% block head %}
    <title>Admin system | Dispatcher</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dispatcher.css') }}">
{% endblock %}

{% block body %}
    <div class="dispatcher-window">
        <div class="list-container">
            <h2 class="list-header">List of traffic lines</h2>
            <table>
                <thead>
                    <tr>
                        <th>Traffic Line</th>
                        <th>Stops</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for traffic_line in traffic_lines %}
                        <tr>
                            <td>{{ traffic_line.line_name }}</td>
                            <td>{{ traffic_line_stops[traffic_line.line_name] }}</td>
                            <td>
                                <div class="list-action-container">
                                    <form action="{{ url_for('system') }}" method="POST">
                                        <input type="hidden" name="tl_name" value="{{ traffic_line.line_name }}">
                                        <button name="action" type="submit" value="select-tl">Select</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="list-container">
            {% if not selected_tl %}
                <h2 class="list-header">No selected traffic line</h2>
            {% elif not tl_rides %}
                <h2 class="list-header">No rides</h2>
            {% else %}
                <h2 class="list-header">Manage rides on {{ selected_tl }}</h2>
            {% endif %}

            <table>
                <thead>
                    <tr>
                        <th>Vehicle type</th>
                        <th>Driver</th>
                        <th>Start time</th>
                        <th>End time</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% if tl_rides %}
                        {% for ride in tl_rides %}
                            <tr>
                                <td>{{ ride.vehicle.type }}</td>
                                <td>{{ ride.driver.username }}</td>
                                <td>{{ ride.start_time }}</td>
                                <td>{{ ride.end_time }}</td>
                                <td>
                                    <div class="list-action-container">
                                        <form action="{{ url_for('dispatcher.remove_ride') }}" method="POST">
                                            <input type="hidden" name="ride_id" value="{{ ride.id }}">
                                            <button name="action" class="delete" type="submit" value="remove-ride">Remove</button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>

            {% if selected_tl %}
                <div class="form-button-container">
                    <form action="{{ url_for('system') }}" method="POST">
                        <button name="action" type="submit" value="show-modal">Add</button>
                    </form>
                </div>
            {% endif %}
            
            {% if show_modal %}
                <div class="overlay">
                    <div id="addRide" class="modal">
                        <form action="{{ url_for('dispatcher.add_ride') if available_vehicles and available_drivers else url_for('system') }}" method="POST">
                            <h2 class="form-header">Add Ride to {{ selected_tl }}</h2>
                            <input type="hidden" name="line_name" value="{{ selected_tl }}">
                            <div class="form-group">
                                <label class="form-label" for="start_time">Start Time:</label>
                                <input class="form-input" type="time" id="start_time" name="start_time" required value="{{ start_time }}" {% if available_vehicles or available_drivers %}readonly{% endif %}>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="end_time">Stop Time:</label>
                                <input class="form-input" type="time" id="end_time" name="end_time" required value="{{ end_time }}" {% if available_vehicles or available_drivers %}readonly{% endif %}>
                            </div>
                            <div class="form-button-container">
                                <button type="submit" name="action" value="check-availability">Search</button>
                            </div>

                            {% if available_vehicles %}
                                <div class="form-group">
                                    <label class="form-label" for="vehicle_vin">Select Vehicle:</label>
                                    <select class="form-select" id="vehicle_vin" name="vehicle_vin">
                                        {% for vehicle in available_vehicles %}
                                            <option value="{{ vehicle.vin }}">Type: {{ vehicle.type }} - Seats: {{ vehicle.seats }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            {% endif %}
                            {% if available_drivers %}
                                <div class="form-group">
                                    <label class="form-label" for="driver_id">Select Driver:</label>
                                    <select class="form-select" id="driver_id" name="driver_id">
                                        {% for driver in available_drivers %}
                                            <option value="{{ driver.id }}">{{ driver.username }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            {% endif %}

                            {% if available_vehicles and available_drivers %}
                                <div class="form-button-container">
                                    <button type="submit" name="action" value="add-ride">Add Ride</button>
                                </div>
                            {% endif %}
                        </form>
                        <div class="form-button-container">
                            <form action="{{ url_for('system') }}" method="POST">
                                <button class="delete" name="action" type="submit" value="close-modal">Close</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% with messages = get_flashed_messages(category_filter=["errorAR", "errorRR"]) %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="form-message error">
                            <a>{{ message }}</a>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% with messages = get_flashed_messages(category_filter=["successAV", "successRV"]) %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="form-message success">
                            <a>{{ message }}</a>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
{% endblock %}
